{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  NHS App prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>NHS App prototype</h1>
      <p class="nhsuk-lede-text">
        A prototype to test new design styles, components and patterns for the NHS App.
      </p>

      <ul clas="nhsuk-list">
        <li>
          <a href="/pages/">Pages</a>
        </li>
        <li>
          <a href="/components/">Components</a>
        </li>
        <li>
          <a href="/native">Native - install page</a>
        </li>
        <li>
          <a href="/frame">Mobile frame</a>
        </li>
      </ul>

      <h2>Prototype data</h2>
      <p>You can <a href="/data-settings">use default data to create dynamic content</a>.</p> 

    </div>
  </div>
{% endblock %}
