{% extends 'layout.html' %}

{% block pageTitle %}
  NHS App prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>NHS App prototype</h1>
      <p class="nhsuk-lede-text">
        A prototype to test new design styles, components and patterns for the NHS App.
      </p>

      <ul clas="nhsuk-list">
        <li>
          <a href="/pages/">Pages</a>
        </li>
        <li>
          <a href="/components/">Components</a>
        </li>
        <li>
          <a href="/native">Make your prototype feel more app-like</a>
        </li>
        <li>
          <a href="/frame">View prototype in a mobile frame</a>
        </li>
      </ul>

      <h2>Prototype data</h2>
      <p>You can <a href="/data-settings">use default data to create dynamic content</a>.</p> 

      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

      <h2>Built using</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "NHS prototype kit"
            },
            value: {
              html: "<a href='https://github.com/nhsuk/nhsuk-prototype-kit/releases'><span class='nhsuk-u-visually-hidden'>NHS prototype kit </span>v5.3.0</a>"
            }
          },
          {
            key: {
              text: "NHS.UK frontend"
            },
            value: {
              html: "<a href='https://github.com/nhsuk/nhsuk-frontend/releases'><span class='nhsuk-u-visually-hidden'>NHS.UK frontend </span>v9.3.0</a>"
            }
          },
          {
            key: {
              text: "NHS App frontend"
            },
            value: {
              html: "<a href='https://github.com/nhsuk/nhsapp-frontend/releases'><span class='nhsuk-u-visually-hidden'>NHS App frontend </span>v3.0.0</a>"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
