{% extends 'layout-app.html' %}

{% set mainClasses = "nhsuk-main-wrapper" %}

{% block pageTitle %}
  {{ pageHeading }} - NHS App prototype
{% endblock %}

{% block customStyles %}
  {% if overlay === true %}
    <style>
      body {
        background-color: #004B93 !important;
      }
    </style>
  {% else %}
    <style>
      body {
        background-color: #005eb8 !important;
      }
    </style>
  {% endif %}
{% endblock %}

<!-- HEADER -->
{% block header %}
{% endblock %}

{% block main %}
{% if overlay === true %}
  <div class="app-login-wrapper app-login-wrapper--overlay">
{% else %}
  <div class="app-login-wrapper">
{% endif %}
  <div class="nhsuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent" role="main">
      {% block content %}{% endblock %}
    </main>
  </div>
</div>
{% endblock %}

<!-- FOOTER -->
{% block footer %}
{% endblock %}
